@{
    ViewBag.Title = "About";
}
<h2>Belen</h2>
<h3>Brief description of myself</h3>

<p>Hello, my name is Belen.  I'm from Caceres, Spain and have been living in Brussels since 2010.  After a lot of years performing administrative roles I decided to change carer direction and, here I am, in this training to become 
    web app developer.  Below it is a pic of my city in case you want to visit once Covid will be over.</p>
<div class="flex">
    <div><img src="~/Images/caceres.jpg" /></div>
</div>

