@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>How to reach me out</h3>

<address>
    9,Desperation Avenue<br />
    CityOfWad, 2021<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:a.rodriguez@interface3.be">a.rodriguez@interface3.be</a><br />
</address>